.ProjectCard {
  .tag {
    margin: 2px;
  }

  .card {
    min-height: 300px
  }
}

.ProjectCard:hover{
  box-shadow: 0 0.5em 1em -0.125em rgba(20, 10, 10, 0.1), -1px 4px 0 1px rgba(10, 10, 10, 0.02);
  transition: 0.2s;
} 