@import "../../sass/breakpoints";

.HomePage {
  #jumbo {
    text-align: center;
    margin: 100px auto;

    @include small {
      margin: 50px;
    }

    @include medium {
      margin: 75px;
    }

    h1 {
      font-size: 5em;

      @include small {
        font-size: 3em;
      }

      @include medium {
        font-size: 4em;
      }
    }

    img {
      width:96px;
      margin: 2px;
    }

    .subtitle {
      font-size: 2em;
    }
  }
}