@import "sass/reset";
@import "sass/breakpoints";
@import "sass/colors";
@import "sass/fonts";
@import "sass/bulma";

@import "../node_modules/bulma/bulma.sass";

body {
  padding: 15px 15%;

  @include small {
    padding: 2px;
  }

  @include medium {
    padding: 4px;
  }

  .title {
    font-family: $serif;
  }
}