@import "../../sass/breakpoints";

.HomePage {
  #jumbo {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;

    @include small {
      margin-top: 25px;
      margin-bottom: 50px;
    }

    h1 {
      font-size: 5em;

      @include small {
        font-size: 3em;
      }

      @include medium {
        font-size: 4em;
      }
    }

    img {
      width: 78px;
      margin: 10px;

      @include small {
        width: 45px;
      }

      @include medium {
        width: 52px;
      }
    }

    .subtitle {
      font-size: 2em;
    }
  }

  .linkbar {
    margin-bottom: 20px;

    a {
      margin: 20px;
    }
  }
}