#stack {
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .stack-item {
      margin: 12px;
      text-align: center;

      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
      }

    }
  }
}